html{
	padding: 0;
	margin: 0;
}

body{
	margin:0;
	padding: 0;
	max-height: 100vh;
}

/* Navigation CSS */
.nav__bar{
	margin: 0 0 25px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height:50px;
	background:lightgray;
}

.views input{
	height: 40px;
	margin-right: 15px;
	font-size: 20px;
}


/* card styles */

.card{
	width: 90%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	border-radius: 3px;
	margin: 10px 0;
	min-height: 200px;
	max-height: 200px;
	text-align: center;
}

.cardHeader{
	margin-top:10px;
	display: flex;
	justify-content: space-evenly;
	width:90%;
	border-bottom: 1px solid black;
}

.cardHeader h4{
	font-size:18px;
	display: inline;
}

.cardHeader h5{
	padding-top: 5px;
	display: inline;
}

.card p{
	width:70%;
	margin: 10px;
}

/* content section CSS */


.content{
	display: flex;
	width: 100%;
	justify-content: center;
	max-height: 900px;
}

/* tasks page CSS */

.column{
	width: 30%;
	min-height:900px;
	margin: 0 2.5%;
	background-color: #c6c6c6;
	border: 2px solid black;
	border-radius: 3px;
	display: flex;
	flex-flow: column;
	align-items: center;
	/* justify-content: center; */
	/* flex-wrap: wrap; */
	overflow-y: scroll;
}

.section__header{
	width:90%;
	height:40px;
	text-align: center;
	padding-bottom: 10px;
	margin-top:20px;
	margin-bottom: 10px;
	border-bottom: 2px solid darkslategray;
}

.section__header h2{
	display: inline;
}

.plus img{
	width:15px;
}

.plus:hover{
	cursor: pointer;
}

.open{
	transform: rotate(-45deg);
}

.card__form{
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color:lightgray;
	border-radius: 3px;
}

.card__form input{
	width:65%;
	margin:10px;
}

.form__line{
	width: 70%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.form__line input{
	width: 40%;
	margin-left: 2.5%;
	margin-right: 2.5%;
}
.form__line select{
	margin-right:5%;
}

#form__category{
	height:25px;
	margin-left: 2.5%;
}

#form__due{
	margin-top:0;
	margin-left:7.5%;
	width: 50%;
}

#todo .card{
	background-color: #8a55aa;
}

#doing .card{
	background-color: #5b7baf;
}

#done .card{
	color:white;
	background-color: #484649;
}

/* charts page CSS */

.charts__section {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-content: center;
	width: 95%;
	margin: 0 2.5%;
	padding-bottom: 20px;
}
.charts__item {
	border: solid 3px black;
	width: 40%;
}

#charts{
	width: 95%;
	background-color: #c6c6c6;
	border: 2px solid black;
	border-radius: 3px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-content: center;
	margin: auto;
}

#charts h2{
	width: 90%;
	margin: 15px auto;
	padding-bottom: 15px;
	border-bottom: 1px solid black;
}

/* archive page */

#archive{
	width: 95%;
	min-height:900px;
	margin: 0 2.5%;
	background-color: #c6c6c6;
	border: 2px solid black;
	border-radius: 3px;
	display: flex;
	flex-flow: column;
	align-items: center;
	/* justify-content: center; */
	/* flex-wrap: wrap; */
	overflow-y: scroll;
}

#archive .card{
	background-color: #539351;
}

/* hide class CSS */

.hide{
	display: none !important;
}

#done .archiveBtn{
	display: inherit !important;
}